body{
    background-color: #f4f4f4;
}

.navbar {
	min-height: 25px !important;
	margin-bottom: 0;
	border-radius: 0;
	background-color: #e74c3c;
}


.navbar-nav > li > a, .navbar-brand {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
}

.navbar-default {
    background-color: #e74c3c !important;
    border-color: #c0392b !important;
}
.navbar-default .navbar-brand {
    color: #ecf0f1 !important;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffbbbc !important;
}

.navbar-default .navbar-text {
    color: #ecf0f1 !important;
}

.navbar-default .navbar-nav  > li > a {
    color: #eeccf1 !important;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc !important;
  
}


.navbar-default .navbar-nav  > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff !important;
    background-color: #c0392b !important;
}

.navbar-default .navbar-nav  > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc !important;
    background-color: #c0392b !important;
}
.navbar-default .navbar-toggle {
    border-color: #c0392b !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c0392b !important;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1 !important;
}
.navbar-default .navbar-link:hover {
    color: #ffbbbc !important;
}

/* our code  */

.main-color-bg {
    background-color: #e74c3c !important;
    border-color: #c0392b !important;
    color: #ffffff !important;
}


/* Header section  */
#header {
    background-color: #333;
    color:#fff;
    padding-bottom: 10px ;
    margin-bottom: 15px;
}
#header .create {
    margin-top: 20px;
    color: #ffffff !important;
}

/* breadcrumb */

.breadcrumb {
    background: #cccccc;
    color: #333333;
}
.breadcrumb a {
    color: #333;
}
.dash-box {
    text-align: center;
}
#footer {
    background: #333333;
    color:#fff;
    text-align: center;
    padding: 10px;
}